{% extends 'logistics/firstpage.html' %}
{% block content %}
<div class="row"></div>
<div class="row"></div>
<h4 class="center-align headingcolour">New Invoice</h4>
<div class="heading-divider grey lighten-2"> </div>
<div class="row"></div>
<div class="row"></div>
<div class="row"></div>
{% if form.errors %}
    
   <div class="row alert alert-error">
      <h6 class="center-align errormess"> * Invalid Entries </h6> 
         <strong>{{ error|escape }}</strong>
   </div>
       
{% endif %}
<form method="POST" class="post-form">

    {% csrf_token %}
    <div class="row">
        <div class="col s2 offset-s2">
            <label for="assigned to"> Invoice Number</label>
        </div>
        <div class="col s5">
            <i class="material-icons prefix shiftdown">account_circle</i>
            {{ form.invoice_number}} <br>
        </div>
    </div>
    <div class="row extra-bottom-padding">
        <div class="col-sm-2 col-sm-offset-2">
            <label for="taskdescription"> Date</label>
        </div>
        <div class="col-sm-5">
            <i class="material-icons prefix shiftdown">account_circle</i>
            {{ form.date}} <br>
        </div>
    </div>
    <div class="row extra-bottom-padding">
        <div class="col-sm-2 col-sm-offset-2">
            <label for="assigned on"> Invoiced To</label>
        </div>
        <div class="col-sm-5">
            {{ form.invoiced_to}} <br>
        </div>
    </div>
    <div class="row extra-bottom-padding">
        <div class="col-sm-2 col-sm-offset-2">
            <label for="deadline"> Details</label>
        </div>
        <div class="col-sm-5">
            {{ form.details}} <br>
        </div>
    </div>
    <div class="row extra-bottom-padding">
        <div class="col-sm-2 col-sm-offset-2">
            <label for="status"> Quantity</label>
        </div>
        <div class="col-sm-5">
            {{ form.quantity}} <br>
        </div>
    </div>
    <div class="row extra-bottom-padding">
        <div class="col-sm-2 col-sm-offset-2">
            <label for="status"> Unit Price</label>
        </div>
        <div class="col-sm-5">
            {{ form.unit_price}} <br>
        </div>
    </div>
    <div class="row extra-bottom-padding">
        <div class="col-sm-2 col-sm-offset-2">
            <label for="status"> Total Price</label>
        </div>
        <div class="col-sm-5">
            {{ form.total_price}} <br>
        </div>
    </div>
    <div class="row extra-bottom-padding">
        <div class="col-sm-2 col-sm-offset-2">
            <label for="status"> VAT</label>
        </div>
        <div class="col-sm-5">
            {{ form.vat}} <br>
        </div>
    </div>
    <div class="center-align">
        <button type="submit" class="save btn btn-default">Save</button>
    </div>
</form>
{% endblock %}
