{% extends 'logistics/firstpage.html' %}
{% block content %}
<div class="fixed-action-btn" style="top: 60px; right: 24px;">
    <a class="waves-effect waves-light btn grey darken-1" href="{% url 'invoice_new' %}"><i class="material-icons left">add</i>Add Invoice</a>
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <h4 class="center-align headingcolour">Invoice List</h4>
    </div>  
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col l4 s6">
                <label for="search_item"> </label>
                {{ form.invoice_search_item}} <br>
            </div>
            <div class="col l2 s6">
                <label for="search_item_by"> </label>
                {{ form.invoicesearch_type}} <br>
            </div>
            <div class="col l1 s6">
                <button type="submit" class="save btn btn-default red darken-1">Go</button>
            </div>
            <div class="col l1 s6">
                <a href="{% url 'invoices_admin' %}" class="waves-effect waves-light btn   teal darken-1">Clear</a>
            </div>
        </div>
    </form>
    {% if invoice_list %}
    <table class="striped centered bordered responsive-table">
        <thead>
            <tr>
                <th>Edit</th>
                <th>Delete</th>
                <th>Number</th>
                <th>Date</th>
                <th>Invoiced To</th>
                <th>Details</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>VAT</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoice_list %}
            <tr>
                <td>  <a href="{% url 'invoice_edit' invoice_number=invoice.id %}" class="btn-floating btn-small teal darken-1">
                    <i class="small material-icons">mode_edit</i>
                    </a>
                </td>
                <td><a href="{% url 'delete_invoice' did=invoice.id %}"><i class="small material-icons icon-cyan">delete</i></a></td>
                <td>{{invoice.invoice_number}}</td>
                <td>{{invoice.date}}</td>
                <td>{{invoice.invoiced_to}}</td>
                <td>{{invoice.details}}</td>
                <td>{{invoice.quantity}}</td>
                <td>{{invoice.unit_price}}</td>
                <td>{{invoice.total_price}}</td>
                <td>{{invoice.vat}}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results !</p>
    {% endif %}
</div>
</form>
{% endblock %}