{% extends 'logistics/firstpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        
    </div>  
     <div class="row">
        <div class="row"></div>
          <div class="row"></div>
         <div class="row"></div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col l4 s6">
                <label for="search_item"> </label>
                {{ form.invoice_search_item}} <br>
            </div>
            <div class="col l2 s6">
                <label for="search_item_by"> </label>
                {{ form.invoicesearch_type}} <br>
            </div>
            <div class="col l1 s6">
                <button type="submit" class="save btn btn-default red darken-1">Go</button>
            </div>
            <div class="col l1 s6">
                <a href="{% url 'invoices_admin' %}" class="waves-effect waves-light btn   teal darken-1">Clear</a>
            </div>
        </div>
    </form>
    <div class="row">
          <div class="row"></div>
        <h4 class="headingcolour col s2">Invoices List</h4>
   
       <div class="col s3" >
      <a class="btn-floating btn-large teal darken-1 " href="{% url 'invoice_new' %}">
      <i class="large material-icons">add</i>
    </a>
   </div>
     
       
   </div>
    {% if invoice_list %}
    <table class="striped centered bordered responsive-table">
        <thead>
            <tr>
                
                <th>Number</th>
                <th>Date</th>
                <th>Invoiced To</th>
                <th>Details</th>
                <th>Quantity</th>
                <th>Unit Price</th>
                <th>Total Price</th>
                <th>VAT</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in invoice_list %}
            <tr>
               
                <td>{{invoice.invoice_number}}</td>
                <td>{{invoice.date}}</td>
                <td>{{invoice.invoiced_to}}</td>
                <td>{{invoice.details}}</td>
                <td>{{invoice.quantity}}</td>
                <td>{{invoice.unit_price}}</td>
                <td>{{invoice.total_price}}</td>
                <td>{{invoice.vat}}</td>
                 <td>  <a href="{% url 'invoice_edit' invoice_number=invoice.id %}">
                    <i class="small material-icons icon-cyan">mode_edit</i>
                    </a>
                </td>
                <td><a href="{% url 'delete_invoice' did=invoice.id %}"><i class="small material-icons icon-cyan">delete</i></a></td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results !</p>
    {% endif %}
</div>
</form>
{% endblock %}