{% extends 'logistics/firstpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
       
    </div> 
     <div class="row">
        <div class="row"></div>
         <div class="row"></div>
           <div class="row"></div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col l4 s6">
                <label for="search_item"> </label>
                {{ form.receipt_search_item}} <br>
            </div>
            <div class="col l2 s6">
                <label for="search_item_by"> </label>
                {{ form.receiptsearch_type}} <br>
            </div>
            <div class="col l1 s6">
                <button type="submit" class="save btn btn-default red darken-1">Go</button>
            </div>
            <div class="col l1 s6">
                <a href="{% url 'receipts_admin' %}" class="waves-effect waves-light btn   teal darken-1">Clear</a>
            </div>
        </div>
    </form>
     <div class="row">
          <div class="row"></div>
        <h4 class="headingcolour col s2">Receipts List</h4>
   
       <div class="col s3" >
      <a class="btn-floating btn-large teal darken-1 " href="{% url 'receipt_new' %}">
      <i class="large material-icons">add</i>
    </a>
   </div>
     
       
   </div>
    {% if receipt_list %}
    <table class="striped centered bordered responsive-table">
        <thead>
            <tr>
                
                <th>Number</th>
                <th>Date</th>
                <th>From</th>
                <th>Amount Received</th>
                <th>Payment For</th>
                <th>Payment Mode</th>
                <th>Credited To</th>
                <th>Balance</th>
              
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
            <tr>
                
                <td>{{receipt.receipt_number}}</td>
                <td>{{receipt.date}}</td>
                <td>{{receipt.receipt_from}}</td>
                <td>{{receipt.amount_received}}</td>
                <td>{{receipt.payment_for}}</td>
                <td>{{receipt.payment_mode}}</td>
                <td>{{receipt.credited_to}}</td>
                <td>{{receipt.balance}}</td>
                <td>  <a href="{% url 'receipt_edit' receipt_number=receipt.id %}">
                    <i class="small material-icons icon-cyan">mode_edit</i>
                    </a>
                </td>
                <td><a href="{% url 'delete_receipt' did=receipt.id %}"><i class="small material-icons icon-cyan">delete</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results !</p>
    {% endif %}
</div>
</form>
{% endblock %}