{% extends 'logistics/firstpage.html' %}
{% block content %}
<div class="fixed-action-btn" style="top: 60px; right: 24px;">
    <a class="waves-effect waves-light btn grey darken-1" href="{% url 'receipt_new' %}"><i class="material-icons left">add</i>Add Receipt</a>
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <h4 class="center-align headingcolour">Receipts List</h4>
    </div> 
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col l4 s6">
                <label for="search_item"> </label>
                {{ form.receipt_search_item}} <br>
            </div>
            <div class="col l2 s6">
                <label for="search_item_by"> </label>
                {{ form.receiptsearch_type}} <br>
            </div>
            <div class="col l1 s6">
                <button type="submit" class="save btn btn-default red darken-1">Go</button>
            </div>
            <div class="col l1 s6">
                <a href="{% url 'receipts_admin' %}" class="waves-effect waves-light btn   teal darken-1">Clear</a>
            </div>
        </div>
    </form>
    {% if receipt_list %}
    <table class="striped centered bordered responsive-table">
        <thead>
            <tr>
                <th>Number</th>
                <th>Date</th>
                <th>From</th>
                <th>Amount Received</th>
                <th>Payment For</th>
                <th>Payment Mode</th>
                <th>Credited To</th>
                <th>Balance</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipt_list %}
            <tr>
                <td>{{receipt.receipt_number}}</td>
                <td>{{receipt.date}}</td>
                <td>{{receipt.receipt_from}}</td>
                <td>{{receipt.amount_received}}</td>
                <td>{{receipt.payment_for}}</td>
                <td>{{receipt.payment_mode}}</td>
                <td>{{receipt.credited_to}}</td>
                <td>{{receipt.balance}}</td>
                <td>  <a href="{% url 'receipt_edit' receipt_number=receipt.id %}" class="btn-floating btn-small red">
                    <i class="small material-icons">mode_edit</i>
                    </a>
                </td>
                <td><a href="{% url 'delete_receipt' did=receipt.id %}"><i class="small material-icons icon-cyan">delete</i></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results !</p>
    {% endif %}
</div>
</form>
{% endblock %}