{% extends 'logistics/firstpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
          <div class="row"></div>
           <div class="row"></div>
            <div class="row"></div>
        <h4 class="headingcolour col l2 s12">Expense List</h4>
   
       <div class="col s3" >
      <a class="btn-floating btn-large teal darken-1 " href="{% url 'tripexpenses_new' %}">
      <i class="large material-icons">add</i>
    </a>
   </div>
     
       
   </div>
    <div class="row">
       
    </div>
    {% if expenses %}
    <table class="striped">
        <thead>
            <tr>
                <th>Bill</th>
                <th>Amount</th>
                <th>Reason</th>
                <th>Trip</th>
                <th>Employee</th>
            </tr>
        </thead>
        <tbody>
            {% for expense in expenses %}
            <tr>
                <td><a href="/media/{{expense.bill}}">{{expense.bill}}</a></td>
                <td>{{expense.amount}}</td>
                <td>{{expense.reason}}</td>
                <td>{{expense.trip}}</td>
                <td>{{expense.employee}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results !</p>
    {% endif %}
</div>
</form>
{% endblock %}