{% extends 'homepage/second.html' %}
{%block content%}
<div class="container-fluid">
<div class="container-fluid">
    <h4 class="center-align headingcolour">Task List</h4>
    {% if task_list %}
    <table class="striped">
        <thead>
            <tr>
                <th>Employee</th>
                <th>Assigned On</th>
                <th>Deadline</th>
                <th>Discription</th>
                <th>Status</th>
                <th>Priority</th>
            </tr>
        </thead>
        <tbody>
            {% for task in task_list %}
            <tr>
                <td>{{task.assigned_to}}</td>
                <td>{{task.assigned_on}}</td>
                <td>{{task.deadline}}</td>
                <td>{{task.task_description}}</td>
                {% if not task.status %}
                <td><span class="glyphicon glyphicon-remove"></span></td>
                {% else %}
                <td><span class="glyphicon glyphicon-ok"></span></td>
                {% endif %}
                <td>{{task.priority}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No task assigned !</p>
    {% endif %}
</div>
{% endblock %}