<!DOCTYPE html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <title>Acme International</title>
  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{% static "index/css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "index/css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo">Acme International</a>
      <ul class="right">
        <li><a href="/homepage"class="waves-effect waves-light btn">Login</a></li>
      </ul>
    </div>
  </nav>			

  <div id="index-banner" class="parallax-container">
    
    <div class="parallax"><img src="{% static "index/background1.jpg" %}" alt="Unsplashed background img 1"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <h4 class="center"> About Us </h4>
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Our Vision</h5>

            <p class="light">OUr vision is to provide safe drinking water to every household Africa.To achieve this we provide water treatment chemicals, pipes,pipe fittings and accessories,pumps to NGO's and and water bodies of various East African countries and DR Congo.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Our Mission</h5>

            <p class="light">Our mission is to expan and explore various fields where African countries are struggling. Currently we are working to provide proper healthcase facilities in 60 centres of D.R Congo.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">The Directors  </h5>

            <p class="light">The company is headed by Mr Pragnesh Patel, managing director who has been working in East Africa for the past 30 years.Mr Hemal Patel and Mr Ronit Patel are 2 other directors who joined the compnay in 2013 and 2015 respectively</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</div>


 


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "index/js/materialize.js" %}"></script>
  <script src="{% static "index/js/init.js" %}"></script>

  </body>
</html>
