{% extends 'logistics/firstpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        
    </div>
     <div class="row">
        
    </div>
     <div class="row">
        
    </div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col l4 s6">
                <label for="search_item"> </label>
                {{ form.account_search_item}} <br>
            </div>
            <div class="col l2 s6">
                <label for="search_item_by"> </label>
                {{ form.account_type}} <br>
            </div>
            <div class="col l1 s6">
                <button type="submit" class="save btn btn-default red darken-1">Go</button>
            </div>
            <div class="col l1 s6">
                <a href="{% url 'accounts_admin' %}" class="waves-effect waves-light btn   teal darken-1">Clear</a>
            </div>
        </div>
    </form>
    <div class="row">
          <div class="row"></div>
        <h4 class="headingcolour col s3">Bank account List</h4>
   
       <div class="col s3" >
      <a class="btn-floating btn-large teal darken-1 " href="{% url 'account_new' %}">
      <i class="large material-icons">add</i>
    </a>
   </div>
     
       
   </div>
    {% if accounts_list %}      
    <table class="striped centered bordered responsive-table">
        <thead>
            <tr>
               
                <th>Account Number</th>
                <th>Account Holder</th>
                <th>Bank</th>
                <th>Amount</th>  
                 <th>Edit</th>
                <th>Add/View Transaction(s)</th>              
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for account in accounts_list %}          
            <tr>
               
                <td>{{account.account_number}}</td>
                <td>{{account.account_holder}}</td>
                <td>{{account.bank}}</td>
                <td>{{account.amount}}</td>
                 <td>
                    <a href="{% url 'account_edit' account_number=account.account_number %}">
                    <i class="small material-icons icon-cyan">mode_edit</i></a>
                </td>
                <td><a href="{% url 'show_transaction' transaction=account.account_number %}"><i class="small material-icons icon-cyan">visibility</i></a>
                </td>    
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Such Account</p>
    {% endif %}
</div>
{% endblock %}
<script type="text/javascript">
    $(document).ready(function() {
       $('select').material_select();
    });
       
</script>