{% extends 'logistics/firstpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        
    </div>
    <div class="row">
          <div class="row"></div>
          <div class="row"></div>
          <div class="row"></div>
        <h4 class="headingcolour col s3">Cashbook List List</h4>
   
       <div class="col s3" >
      <a class="btn-floating btn-large teal darken-1 " href="{% url 'cashbook_new_all' %}">
      <i class="large material-icons">add</i>
    </a>
   </div>
     
       
   </div>
    {% if cashbook %}
    <table class="striped centered bordered responsive-table">
        <thead>
            <tr>
                
                <th>Employee number</th>
                <th>Account number</th>
                <th>Amount added </th>
                <th>Transaction Date</th>
                <th>Transaction Details</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for cash in cashbook %}
            <tr>
                
                <td>{{cash.employee_number}}</td>
                <td>{{cash.account_number}}</td>
                <td>{{cash.amount_added}}</td>
                <td>{{cash.transaction_date}}</td>
                <td>{{cash.transaction_details}}</td>  
                <td>  <a href="{% url 'cashbook_edit_all' cashbookid=cash.id %}"><i class="small material-icons icon-cyan">mode_edit</i></a>
                </td>              
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No Results !</p>
    {% endif %}
</div>
{% endblock %}