@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.extra-bottom-padding{


  margin-top: 20px;
}
.navtext{
  color: #f5f5f5;
  font-size: 17px;
}
.whitetext{
color: #f5f5f5;

}
nav ul li a{
  color: white;
}  

.shiftup{

margin-top: -5px;
background-color: 
}

.headingcolour{

  color: #757575;
}
.shiftdown{

  margin-bottom: 1px;
}


.error-message{
  color: #bc0000;
  font-weight: bold;

}

i.icon-cyan {
    color: #00897b;
    
}

body {
  background: #ffffff; /* fallback for old browsers */
 /* background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;   */   
}
