{% extends 'logistics/firstpage.html' %}
{% block content %}
<div class="fixed-action-btn" style="top: 60px; right: 24px;">
    <a class="waves-effect waves-light btn grey darken-1" href="#"><i class="material-icons left">add</i>Add Trip</a>
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <h4 class="center-align headingcolour">Document List</h4>
    </div> 
    {% if docus %}
    <table class="striped">
        <thead>
            <tr>
                <th>Upload</th>
                <th>Name</th>
                <th>Transaction Number</th>
            </tr>
        </thead>
        <tbody>
            {% for docs in docus %}
            <tr>
                <td>{{docs.upload}}</td>
                <td>{{docs.name}}</td>
                <td>{{docs.transaction_number}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results !</p>
    {% endif %}
</div>
</form>
{% endblock %}