{% extends 'logistics/firstpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
       
    </div>
    
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col l4 m6 s6">
                <label for="search_item"> </label>
                {{ form.good_search_item}} <br>
            </div>
            <div class="col l4 m6 s6">
                <label for="search_item_by"> </label>
                {{ form.good_type}} <br>
            </div>
            <div class="col l1 m6 s6">
                <button type="submit" class="save btn btn-default red darken-1">Go</button>
            </div>
            <div class="col l1 m6 s6">
                <a href="{% url 'trucks_admin' %}" class="waves-effect waves-light btn   teal darken-1">Clear</a>
            </div>
        </div>
    
    </form>
          <div class="row">
          <div class="row"></div>
        <h4 class="headingcolour col s2">Goods List</h4>
   
       <div class="col s3" >
      <a class="btn-floating btn-large teal darken-1 " href="{% url 'good_new' %}">
      <i class="large material-icons">add</i>
    </a>
   </div>
     
       
   </div>
        {% if good_list %}
        <table class="bordered striped">
            <thead>
                <tr>
                    <th>Good Quantity</th>
                    <th>Good Type</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for good in good_list %}         
                <tr>
                    
                    <td>{{good.good_type}}</td>
                    <td>{{good.good_quantity}}</td>
                    <td>  <a href="{% url 'good_edit' goodid=good.id %}" >
                        <i class="small material-icons icon-cyan ">mode_edit</i>
                        </a>
                    </td>                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No results !</p>
        {% endif %}
</div>
</form>
{% endblock %}