{% extends 'logistics/firstpage.html' %}
{% block content %}
<div class="fixed-action-btn" style="top: 60px; right: 24px;">
    <a class="waves-effect waves-light btn grey darken-1" href="{% url 'good_new' %}"><i class="material-icons left">add</i>Add Good</a>
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <h4 class="center-align headingcolour">Goods List</h4>
    </div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        <div class="row">
            <div class="col l4 s6">
                <label for="search_item"> </label>
                {{ form.good_search_item}} <br>
            </div>
            <div class="col l2 s6">
                <label for="search_item_by"> </label>
                {{ form.good_type}} <br>
            </div>
            <div class="col l1 s6">
                <button type="submit" class="save btn btn-default red darken-1">Go</button>
            </div>
            <div class="col l1 s6">
                <a href="{% url 'trucks_admin' %}" class="waves-effect waves-light btn   teal darken-1">Clear</a>
            </div>
        </div>
        {% if good_list %}
        <table class="striped">
            <thead>
                <tr>
                    <th>Good Type</th>
                    <th>Good Quantity</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for good in good_list %}         
                <tr>
                    <td>{{good.good_type}}</td>
                    <td>{{good.good_quantity}}</td>
                    <td>  <a href="{% url 'good_edit' goodid=good.id %}" class="btn-floating btn-small teal darken-1">
                        <i class="small material-icons ">mode_edit</i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No results !</p>
        {% endif %}
</div>
</form>
{% endblock %}