{% extends 'logistics/firstpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="row"></div>
            <div class="row"></div>
                <div class="row"></div>
        
         <div class="row">
          <div class="row"></div>
        <h4 class="headingcolour col s5">Transaction - <b>{{transaction_number }}</b> Document List</h4>
   
       <div class="col s3" >
      <a class="btn-floating btn-large teal darken-1 " href="{% url 'docs_new_t' %}">
      <i class="large material-icons">add</i>
    </a>
   </div>
     
       
   </div>
    </div> 
   
    {% if docus %}
    <table class="striped">
        <thead>
            <tr>
                <th>Upload</th>
                <th>Name</th>
                <th>Transaction</th>
            </tr>
        </thead>
        <tbody>
            {% for docs in docus %}         
            <tr>
                <td><a href="/media/{{docs.upload}}">{{docs.upload}}</a></td>
                <td>{{docs.name}}</td>
                <td>{{docs.transaction_number.id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
     <div class="row"></div>
            <div class="row"></div>
    <h5 class="center-align headingcolour">No results !</h5>
    {% endif %}
</div>
</form>
{% endblock %}