{% extends 'logistics/firstpage.html' %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row"></div>
        
    </div>
    <form method="POST" class="post-form">
        {% csrf_token %}
        
        <div class="row">
            <div class="col l4 m6 s6">
                <label for="search_item"> </label>      
                {{ form.transaction_search_item}} <br>
            </div>
            <div class="col l4 m6 s6">
                <label for="search_item_by"> </label>
                {{ form.transaction_type}} <br>
            </div>
            <div class="col l1 m6 s6">
                <button type="submit" class="save btn btn-default red darken-1">Go</button>
            </div>
            <div class="col l2 m6 s6">
                <a href="{% url 'transactions_admin' %}" class="waves-effect waves-light btn   teal darken-1">Clear</a>
            </div>
        </div>
    
    </form>
     <div class="row">
          <div class="row"></div>
        <h4 class="headingcolour col s3">Transaction List</h4>
   
       <div class="col s3" >
      <a class="btn-floating btn-large teal darken-1 " href="{% url 'transaction_new' %}">
      <i class="large material-icons">add</i>
    </a>
   </div>
     
       
   </div>
    {% if transaction_list %}
    <table class="striped centered responsive-table">
        <thead>
            <tr>
                
                <th>Id</th>
                <th>Reference Name</th>
                <th>From Company</th>
                <th>Transaction Date</th>
                <th>Transaction Type</th>
                <th>Goods Type</th>
                <th>Goods Quantity</th>
                <th>Edit</th>  
                <th>Add/View Document(s)</th>
                
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transaction_list %}           
            <tr>
                
                <td>{{transaction.id}}</td>
                <td>{{transaction.reference_name}}</td>
                <td>{{transaction.from_company}}</td>
                <td>{{transaction.transaction_date}}</td>
                <td>{{transaction.transaction_type}}</td>
                <td>{{transaction.goods_type}}</td>
                <td>{{transaction.goods_quantity}}</td>  
                <td><a href="{% url 'transaction_edit' transid=transaction.id %}">
                    <i class="small material-icons  icon-cyan ">mode_edit</i>
                    </a>
                </td>
                <td><a href="{% url 'show_docs_t' docs=transaction.id %}"><i class="small material-icons icon-cyan ">description</i></a></td>              
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results !</p>
    {% endif %}
</div>
{% endblock %}