{% extends 'homepage/second.html' %}
{% block content %}
<div class="fixed-action-btn" style="top: 60px; right: 24px;">
    <a class="waves-effect waves-light btn grey darken-1" href="{% url 'docs_new_employee' %}"><i class="material-icons left">add</i>Add Document</a>
    </a>
</div>
<div class="container-fluid">
    <div class="row">
        <h4 class="center-align headingcolour">Document List</h4>
    </div>
    {% if docus %}
    <table class="striped">
        <thead>
            <tr>
                <th>Upload</th>
                <th>Name</th>
                <th>Trip</th>
            </tr>
        </thead>
        <tbody>
            {% for docs in docus %}
            <tr>
                <td><a href="/media/{{docs.upload}}">{{ docs.upload }}</a></td>
                <td>{{docs.name}}</td>
                <td>{{docs.trip.id}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No documents yet !</p>
    {% endif %}
</div>
</form>
{% endblock %}	